*,*:before,*:after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  color: inherit;
}
a:hover{
  text-decoration: none;
}
a[href="/services/"],
a[href="#"]{
  pointer-events: none;
}
a.btn{
  background: white;
  color: black;
  border: 2px solid black;
  padding: 16px;
  text-decoration: none;
  border-radius: 0.5em;
  font-weight: 700;
  display: inline-block;
}
a:hover.btn{
  /* background: var(--color-accent); */
  background: lightgray;
}
button{
  background-color: white;
  border: none;
  cursor: pointer;
  padding-inline-start: 0;
  padding-block-start: 0;
  padding-block-end: 0;
  border-radius: 0.25em;
}
ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
:root{
  --color-primary: #343D93;
  --color-accent: #23C8DF;
  --font-primary: Inter, ui-sans-serif, sans-serif;
  --font-secondary: Molengo, ui-sans-serif, sans-serif;
}
body{
  font-family: var(--font-primary);
  font-size: 16px;
  line-height: 1.2;
  padding-top: 6em;
}
body > *{
  transition: all 1s ease-in-out;
}
.logo{
  width: 160px;
}
ul.social{
  display: flex;
  flex-direction: row;
  gap: 1em;
}
.services,
h1,
footer,
.hero,
nav .menu-slideout ul,
nav button,
nav{
  padding: 16px;
}
nav{
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  background: white;
  z-index: 10;
}
nav button.menu{
  display: flex;
  flex-direction: column;
  gap: 5px;
  z-index: 2;
  align-self: baseline;
}
nav button.menu .line{
  width: 32px;
  height: 2px;
  background: black;
}
footer,
nav .menu-slideout{
  background: var(--color-primary);
  color: white;
}
nav .menu-slideout{
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  overflow: scroll;
  height: 0;
}
nav .menu-slideout ul:first-child{
  margin-top: 6em;
}
h1{
  font-size: 16px;
  padding-bottom: 0;
}
h2{
  font-family: Molengo, ui-sans-serif, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}
.hero:before{
  margin-top: 6em;
}
.hero{
  background-image: linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url(../img/brissett-slider-1.jpg);
  background-size: contain;
  color: white;
}
.hero p,
.hero h2{
  font-family: var(--font-primary);
  /* font-size: 40px; */
  font-size: 2.5em;
  font-weight: 900;
  line-height: 1;
  text-transform: initial;
}
.hero p:first-child{
  margin-bottom: 1em;
}
.hero .btn{
  font-size: 18px;
  margin-top: 0.5em;
}
.services .cards .top{
  background: var(--color-primary);
  color: var(--color-accent);
  padding: 16px 24px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.services .cards .top h3{
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
}
.services .cards .top img{
  width: 40px;
}
.services .cards .text{
  padding: 16px 24px;
}
.services .cards .text p{
  padding-bottom: 1em;
}